/* Child Theme - Custom CSS File for Buyers to Modify */

#header-top {
    border-bottom: 1px solid #343a3b;
    margin-bottom: 20px;
}

.header-contact-wrap {
    position: relative;
}

.header-contact-wrap h4 {
    color: #f38d28;
    margin-left: 260px;
    font-size: 28px;
    padding-top: 28px;
}

.header-contact-tel {
    float: right;
    color: #f38d28;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.header-translate {
    float: left;
    padding: 6px 0 0 32px;
}

.header-contact-whatsapp {
    max-height: 18px;
    float: right;
    margin-right: 30px;
}

.bible-cell {
    padding: 10px;
    color: #000;
    font-weight: bold;
}

div.main a {
    color: #2a5db0;
    text-decoration: underline;
}

@media only screen and (max-device-width: 1000px) {
    .header-contact-wrap {
        text-align: center;
    }
    .header-contact-wrap h4 {
        float: none;
        padding-top: 8px;
        margin-left: 0;
        font-size: 18px;
    }
    .header-contact-tel {
        float: none;
    }
    .header-contact-whatsapp {
        float: none;
        margin-right: 0;
    }
}

@media print {
    .header-contact-wrap {
        text-align: center;
    }
    .header-contact-wrap h4 {
        float: none;
        padding-top: 8px;
        margin-left: 0;
        font-size: 18px;
    }
    .header-contact-tel {
        float: none;
    }
    .header-contact-whatsapp {
        float: none;
        margin-right: 0;
    }
}



#glt-translate-trigger {
    right: auto;
    left: 20px;
}

.property-item figure span.property-label {
    background: green;
}
